<!DOCTYPE html>
<html><head>
    <title>SchottkyLink</title>
    <meta charset="UTF-8" />
    <!--  <link rel="stylesheet" type="text/css" href="scripts/style.css"> -->
    <style>
     body {
	 margin: 0;
     }
     canvas {
	 cursor: crosshair;
	 display: inline-block;
	 background-color: black;
     }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/nunjucks.min.js"></script>
    <script type="text/javascript" src="scripts/raytrace.js"></script>
    <script type="text/javascript" src="scripts/util.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script id="vs" type="x-shader/x-vertex">
     attribute vec3 position;

     void main(void){
	 gl_Position = vec4(position, 1.0);
     }
    </script>

    <script id="3dSchottkyTemplate" type="x-shader/x-fragment">
     precision mediump float;
     uniform vec2 iResolution;
     uniform float iGlobalTime;
     uniform int selectedSphereIndex;
     uniform int selectedAxis;
     uniform vec3 eye;
     uniform vec3 up;
     uniform vec3 target;
     uniform float fov;
     int numSpheres = {{ numSpheres }};
     {% for n  in range(0,  numSpheres ) %}
     uniform vec4 s{{ n }};
     {% endfor %}

     {% for n  in range(0,  numBaseSpheres ) %}
     uniform vec4 baseSphere{{ n }};
     {% endfor %}
     int numBaseSpheres = {{ numBaseSpheres }};
     
     // from Syntopia http://blog.hvidtfeldts.net/index.php/2015/01/path-tracing-3d-fractals/
     vec2 rand2n(vec2 co, float sampleIndex) {
	 vec2 seed = co * (sampleIndex + 1.0);
	 seed+=vec2(-1,1);
	 // implementation based on: lumina.sourceforge.net/Tutorials/Noise.html
	 return vec2(fract(sin(dot(seed.xy ,vec2(12.9898,78.233))) * 43758.5453),
                     fract(cos(dot(seed.xy ,vec2(4.898,7.23))) * 23421.631));
     }

     const float PI = 3.14159265359;
     const float PI_2 = PI/2.;
     const float EPSILON = 0.001;
     const int MTL_SPHERE = 1;
     const int MTL_PLANE = 2;
     const int MTL_CYLINDER = 3;
     const int BASE_SPHERE_INDEX = -2;
     int g_mtl = -1;
     bool g_isHit = false;

     vec4 intersectSphere(vec3 sphereCenter, float radius, 
			  vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 g_isHit = false;
	 vec3 v = rayOrigin - sphereCenter;
	 float b = dot(rayDir, v);
	 float c = dot(v, v) - radius * radius;
	 float d = b * b - c;
	 if(d >= 0.){
             float s = sqrt(d);
             float t = -b - s;
             if(t <= EPSILON) t = -b + s;
             if(EPSILON < t && t < isect.x){
		 vec3 p = (rayOrigin + t * rayDir);
		 g_mtl = MTL_SPHERE;
		 g_isHit = true;
		 return vec4(t, normalize(p - sphereCenter));
             }
	 }
	 return isect;
     }

     vec4 intersectXYCylinder(float r, vec3 center,
			      vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 g_isHit = false;
	 rayOrigin = rayOrigin - center;
	 float a = rayDir.x * rayDir.x + rayDir.y * rayDir.y;
	 float b = 2. * ( rayOrigin.x * rayDir.x + rayOrigin.y * rayDir.y);
	 float c = rayOrigin.x * rayOrigin.x + rayOrigin.y * rayOrigin.y - r * r;
	 float d = b * b - 4. * a * c;
	 if(d >= 0.){
	     float s = sqrt(d);
	     float t = (-b - s) / (2. * a);
             if(t <= EPSILON) t = (-b + s) / (2. * a);
             if(EPSILON < t && t < isect.x){
		 vec3 p = (rayOrigin + t * rayDir);
		 g_isHit = true;
		 g_mtl = MTL_CYLINDER;
		 return vec4(t, normalize(vec3(p.xy, 0)));
             }
	 }
	 return isect;
     }

     vec4 intersectYZCylinder(float r, vec3 center,
			      vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 g_isHit = false;
	 rayOrigin = rayOrigin - center;
	 float a = rayDir.z * rayDir.z + rayDir.y * rayDir.y;
	 float b = 2. * ( rayOrigin.z * rayDir.z + rayOrigin.y * rayDir.y);
	 float c = rayOrigin.z * rayOrigin.z + rayOrigin.y * rayOrigin.y - r * r;
	 float d = b * b - 4. * a * c;
	 if(d >= 0.){
	     float s = sqrt(d);
	     float t = (-b - s) / (2. * a);
             if(t <= EPSILON) t = (-b + s) / (2. * a);
             if(EPSILON < t && t < isect.x){
		 vec3 p = (rayOrigin + t * rayDir);
		 g_isHit = true;
		 g_mtl = MTL_CYLINDER;
		 return vec4(t, normalize(vec3(0, p.yz)));
             }
	 }
	 return isect;
     }

     vec4 intersectXZCylinder(float r, vec3 center,
			      vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 g_isHit = false;
	 rayOrigin = rayOrigin - center;
	 float a = rayDir.x * rayDir.x + rayDir.z * rayDir.z;
	 float b = 2. * ( rayOrigin.x * rayDir.x + rayOrigin.z * rayDir.z);
	 float c = rayOrigin.x * rayOrigin.x + rayOrigin.z * rayOrigin.z - r * r;
	 float d = b * b - 4. * a * c;
	 if(d >= 0.){
	     float s = sqrt(d);
	     float t = (-b - s) / (2. * a);
             if(t <= EPSILON) t = (-b + s) / (2. * a);
             if(EPSILON < t && t < isect.x){
		 vec3 p = (rayOrigin + t * rayDir);
		 g_isHit = true;
		 g_mtl = MTL_CYLINDER;
		 return vec4(t, normalize(vec3(p.x, 0, p.z)));
             }
	 }
	 return isect;
     }
     

     vec4 intersectPlane(vec3 p, vec3 n, 
			 vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 float d = -dot(p, n);
	 float v = dot(n, rayDir);
	 float t = -(dot(n, rayOrigin) + d) / v;
	 if(EPSILON < t && t < isect.x){
             g_mtl = MTL_PLANE;
    	     return vec4(t, n);
	 }
	 return isect;
     }

     vec4 intersectXYRect (vec2 p1, vec2 p2, float z,
			   vec3 rayOrigin, vec3 rayDir, vec4 isect){
	 float t = (z - rayOrigin.z) / rayDir.z;
	 if(EPSILON < t && t < isect.x){
    	     vec3 p = rayOrigin + t * rayDir;
             if(p1.x < p.x && p.x < p2.x &&
		p1.y < p.y && p.y < p2.y ){

        	 return vec4(t, vec3(0, 0, 1));
             }
	 }
	 return isect;
     }

     const vec3 BLACK = vec3(0);

     vec3 planeP = vec3(0, 0, 0);
     vec3 planeN = normalize(vec3(0, 1, 0));

     float lightVisibility(vec3 org, vec3 target){
	 vec3 v = target - org;
	 vec4 result = vec4(length(v));
	 {% for n  in range(0,  numSpheres ) %}
	 result = intersectSphere(s{{ n }}.xyz, s{{ n }}.w, org, normalize(v), result);
         if(result.x < length(v)) return 0.;
	 {% endfor %}

	 return 1.;
     }

     const float PI_4 = 12.566368;
     const vec3 LIGHTING_FACT = vec3(0.1);
     vec3 diffuseLighting(const vec3 p, const vec3 n, const vec3 diffuseColor,
							    const vec3 lightPos, const vec3 lightPower){
  	 vec3 v = lightPos - p;
  	 float d = dot(n, normalize(v));
  	 float r = length(v);
  	 return (d > 0. 
     // && lightVisibility(p, lightPos) == 1.
         ) ?
    		(lightPower * (abs(d) / (PI_4 * r * r))) * diffuseColor
    	      : vec3(0.0);
     }

     const vec3 lightPos = vec3(900, 450, 0);
     const vec3 lightPower = vec3(1000000.);
     const vec3 ambientFactor = vec3(0.1);
     vec3 calcColor(vec3 eye, vec3 ray){
  	 vec3 l = BLACK;
  	 float coeff = 1.;
	 vec4 result = vec4(99999.);
	 int hitObjIndex = 99999;
	 int hitCylinderAxis = -999;
	 {% for n  in range(0,  numSpheres ) %}
	 result = intersectSphere(s{{ n }}.xyz, s{{ n }}.w, eye, ray, result);
	 if(g_isHit) hitObjIndex = {{ n }};

	 if(selectedSphereIndex == {{ n }}){
	     result = intersectYZCylinder(10., s{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit) {
		 hitObjIndex = 99999;
		 hitCylinderAxis = 0;
	     }
	     result = intersectXZCylinder(10., s{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit){
		 hitObjIndex = 99999;
		 hitCylinderAxis = 1;
	     }
	     result = intersectXYCylinder(10., s{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit){
		 hitObjIndex = 99999;
		 hitCylinderAxis = 2;
	     }
	 }
	 {% endfor %}

	 {% for n  in range(0,  numBaseSpheres ) %}
	 result = intersectSphere(baseSphere{{ n }}.xyz, baseSphere{{ n }}.w, eye, ray, result);
	 if(g_isHit) hitObjIndex = BASE_SPHERE_INDEX - {{ n }};
	 if(selectedSphereIndex - numSpheres == {{ n }}){
	     result = intersectYZCylinder(10., baseSphere{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit){
		 hitObjIndex = 99999;
		 hitCylinderAxis = 0;
	     }
	     result = intersectXZCylinder(10., baseSphere{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit){
		 hitObjIndex = 99999;
		 hitCylinderAxis = 1;
	     }
	     result = intersectXYCylinder(10., baseSphere{{ n }}.xyz,
					  eye, ray, result);
	     if(g_isHit){
		 hitObjIndex = 99999;
		 hitCylinderAxis = 2;
	     }
	 }
	 {% endfor %}
	 
	 vec3 matColor;
	 if(g_mtl == MTL_SPHERE){
	     if(hitObjIndex == selectedSphereIndex){
		 matColor = vec3(1., 0, 0);
	     }else if(hitObjIndex < 0){
		 if(-(selectedSphereIndex - numSpheres) + BASE_SPHERE_INDEX == hitObjIndex){
		     matColor = vec3(1., 0, 0);
		 }else{
		     matColor = vec3(0, 1, 0);
		 }
	     }else{
		 matColor = vec3(1.);
	     }
	 }else if(g_mtl == MTL_CYLINDER){
	     if(selectedAxis == hitCylinderAxis){
		 matColor = vec3(1, 0, 0);
	     }else{
		 matColor = vec3(1.);
	     }
	 }
  	 
  	 if(result.x != 99999.){
    	     vec3 intersection = eye + ray * result.x;
             vec3 normal = result.yzw;
	     l += diffuseLighting(intersection, normal, matColor, lightPos, lightPower);
	     l += matColor * ambientFactor;
	 }
  	 return l;
     }

     vec3 hsv2rgb(vec3 c){
	 vec4 K = vec4(1.0, 2.0 / 3.0, 1.0 / 3.0, 3.0);
	 vec3 p = abs(fract(c.xxx + K.xyz) * 6.0 - K.www);
	 return c.z * mix(K.xxx, clamp(p - K.xxx, 0.0, 1.0), c.y);
     }


     const float DISPLAY_GAMMA_COEFF = 1. / 2.2;
     vec3 gammaCorrect(vec3 rgb) {
	 return vec3((min(pow(rgb.r, DISPLAY_GAMMA_COEFF), 1.)),
                     (min(pow(rgb.g, DISPLAY_GAMMA_COEFF), 1.)),
                     (min(pow(rgb.b, DISPLAY_GAMMA_COEFF), 1.)));
     }

     vec3 calcRay (const vec3 eye, const vec3 target,
		   const vec3 up, const float fov,
		   const float width, const float height, const vec2 coord){
	 float imagePlane = (height * .5) / tan(radians(fov) * .5);
  	 vec3 v = normalize(target - eye);
 	 vec3 focalXAxis = normalize(cross(v, up));
  	 vec3 focalYAxis =  normalize(cross(v, focalXAxis ));
  	 vec3 center = v * imagePlane;
  	 vec3 origin = center - (focalXAxis * (width  * .5)) - (focalYAxis * (height * .5));
  	 return normalize(origin + (focalXAxis * coord.x) + (focalYAxis * (height - coord.y)));
     }

     const float SAMPLE_NUM = 10.;
     void main(){	 
	 vec4 sum = vec4(0);
	 for(float i = 0. ; i < SAMPLE_NUM ; i++){
             vec2 coordOffset = rand2n(gl_FragCoord.xy, i);
             
             vec3 ray = calcRay(eye, target, up, fov,
    		               	iResolution.x, iResolution.y,
        		        gl_FragCoord.xy + coordOffset);
             
             sum += vec4(gammaCorrect(calcColor(eye, ray)), 1.);
	 }
	 gl_FragColor = vec4(sum/SAMPLE_NUM);
     }
    </script>
    <script id="3dOrbitTemplate" type="x-shader/x-fragment">
     precision mediump float;
     uniform vec2 iResolution;
     uniform float iGlobalTime;
     uniform int selectedSphereIndex;
     uniform int selectedAxis;
     uniform vec3 eye;
     uniform vec3 up;
     uniform vec3 target;
     uniform float fov;
     uniform int numIterations;
     
     int numSpheres = {{ numSpheres }};
     {% for n  in range(0,  numSpheres ) %}
     uniform vec4 s{{ n }};
     {% endfor %}

     {% for n  in range(0,  numSpheres ) %}
     float s{{ n }}r2 = s{{ n }}.w * s{{ n }}.w;
     {% endfor %}

     {% for n  in range(0,  numBaseSpheres ) %}
     uniform vec4 baseSphere{{ n }};
     {% endfor %}
     int numBaseSpheres = {{ numBaseSpheres }};


     // from Syntopia http://blog.hvidtfeldts.net/index.php/2015/01/path-tracing-3d-fractals/
     vec2 rand2n(vec2 co, float sampleIndex) {
	 vec2 seed = co * (sampleIndex + 1.0);
	 seed+=vec2(-1,1);
	 // implementation based on: lumina.sourceforge.net/Tutorials/Noise.html
	 return vec2(fract(sin(dot(seed.xy ,vec2(12.9898,78.233))) * 43758.5453),
                     fract(cos(dot(seed.xy ,vec2(4.898,7.23))) * 23421.631));
     }
     
     vec3 sphereInvert(vec3 pos, vec3 spherePos, float sphereR, float sphereR2){
	 return ((pos - spherePos) * sphereR2)/(distance(pos, spherePos) * distance(pos, spherePos) ) + spherePos;
     }

     float loopNum = 0.;

     const int MAX_KLEIN_ITARATION = 30;
     float distKlein(vec3 pos){
	 loopNum = 0.;
	 float dr = 1.;
	 bool loopEnd = true;
	 for(int i = 0 ; i < MAX_KLEIN_ITARATION ; i++){
	     if(i >= numIterations) break;
	     loopEnd = true;

	     {% if numSpheres > 2 %}
	     {% for n  in range(0,  numSpheres ) %}
	     {% if n == 0 %}
	     if(distance(pos, s0.xyz) < s0.w){
		 vec3 diff = (pos - s0.xyz);
		 dr *= s0r2 / dot(diff, diff);
		 pos = sphereInvert(pos, s0.xyz, s0.w, s0r2);
		 loopEnd = false;
		 loopNum++;
	     }
	     {% else %}
	     else if(distance(pos, s{{ n }}.xyz) < s{{ n }}.w){
		 vec3 diff = (pos - s{{ n }}.xyz);
		 dr *= s{{ n }}r2 / dot(diff, diff);
		 pos = sphereInvert(pos, s{{ n }}.xyz, s{{ n }}.w, s{{ n }}r2);
		 loopEnd = false;
		 loopNum++;
	     }
	     {% endif %}
	     {% endfor %}
	     {% elif numCircles == 2 %}
	     if(distance(pos, s0.xyz) < s0.w){
		 vec3 diff = (pos - s0.xyz);
		 dr *= s0r2 / dot(diff, diff);
		 pos = sphereInvert(pos, s0.xyz, s0.w, s0r2);
		 loopEnd = false;
		 loopNum++;
	     }else if(distance(pos, s1.xyz) < s1.w){
		 vec3 diff = (pos - s1.xyz);
		 dr *= s1r2 / dot(diff, diff);
		 pos = sphereInvert(pos, s1.xyz, s1.w, s1r2);
		 loopEnd = false;
		 loopNum++;
	     }
	     {% else %}
	     if(distance(pos, s0.xyz) < s0.w){
		 vec3 diff = (pos - s0.xyz);
		 dr *= s0r2 / dot(diff, diff);
		 pos = sphereInvert(pos, s0.xyz, s0.w, s0r2);
		 loopEnd = false;
		 loopNum++;
	     }
	     {% endif %}
	     
	     if(loopEnd == true) break;
	 }
	 {% if numBaseSpheres == 1 %}
	 return (distance(pos, baseSphere0.xyz) - baseSphere0.w) / abs(dr) * 0.08;
	 {% elif numBaseSpheres > 1 %}
	 float minDist = (distance(pos, baseSphere0.xyz) - baseSphere0.w) / abs(dr) * 0.08;
	 {% for n  in range(1,  numBaseSpheres ) %}
	 minDist = min(minDist,
		       (distance(pos, baseSphere{{ n }}.xyz) - baseSphere{{ n }}.w) / abs(dr) * 0.08);
	 {% endfor %}
	 return minDist;
	 {% endif %}
     }

     vec3 calcRay (const vec3 eye, const vec3 target, const vec3 up, const float fov,
									   const float width, const float height, const vec2 coord){
	 float imagePlane = (height * .5) / tan(radians(fov) * .5);
	 vec3 v = normalize(target - eye);
	 vec3 xaxis = normalize(cross(v, up));
	 vec3 yaxis =  normalize(cross(v, xaxis));
	 vec3 center = v * imagePlane;
	 vec3 origin = center - (xaxis * (width  *.5)) - (yaxis * (height * .5));
	 return normalize(origin + (xaxis * coord.x) + (yaxis * (height - coord.y)));
     }

     const vec4 K = vec4(1.0, .666666, .333333, 3.0);
     vec3 hsv2rgb(const vec3 c){
	 vec3 p = abs(fract(c.xxx + K.xyz) * 6.0 - K.www);
	 return c.z * mix(K.xxx, clamp(p - K.xxx, 0.0, 1.0), c.y);
     }

     float distFunc(vec3 p){
	 return distKlein(p);
     }

     const vec2 d = vec2(0.01, 0.);
     vec3 getNormal(const vec3 p){
	 return normalize(vec3(distFunc(p + d.xyy) - distFunc(p - d.xyy),
                               distFunc(p + d.yxy) - distFunc(p - d.yxy),
                               distFunc(p + d.yyx) - distFunc(p - d.yyx)));
     }

     const float PI_4 = 12.566368;
     const vec3 LIGHTING_FACT = vec3(0.);
     vec3 diffuseLighting(const vec3 p, const vec3 n, const vec3 diffuseColor,
							    const vec3 lightPos, const vec3 lightPower){
	 vec3 v = lightPos - p;
	 float dot = dot(n, normalize(v));
	 float r = length(v);
	 return (dot > 0.) ?
		(lightPower * (dot / (PI_4 * r * r))) * diffuseColor
	      : LIGHTING_FACT * diffuseColor;
     }

     const vec3 lightPos = vec3(400, 400, 400);
     const vec3 lightPos2 = vec3(400., -400., -400);
     const vec3 lightPower = vec3(2000000.);

     const int MAX_MARCHING_LOOP = 800;
     vec2 march(const vec3 origin, const  vec3 ray, const float threshold){
	 vec3 rayPos = origin;
	 float dist;
	 float rayLength = 0.;
	 for(int i = 0 ; i < MAX_MARCHING_LOOP ; i++){
	     dist = distFunc(rayPos);
	     rayLength += dist;
	     rayPos = origin + ray * rayLength ;
	     if(dist < threshold) break;
	 }
	 return vec2(dist, rayLength);
     }

     const vec3 BLACK = vec3(0);
     const vec3 ambientFactor = vec3(0.1);
     vec3 calcColor(vec3 eye, vec3 ray){
	 vec3 l = BLACK;
	 float coeff = 1.;
	 vec2 result = march(eye, ray, 0.01);
	 vec3 intersection = eye + ray * result.y;
	 vec3 matColor = vec3(0);
	 vec3 normal = getNormal(intersection);
	 if(result.x < 0.01){
	     matColor = hsv2rgb(vec3(0.1 + loopNum * 0.1 , 1., 1.));
	     l += diffuseLighting(intersection, normal, matColor, lightPos, lightPower);
	     //	     l += diffuseLighting(intersection, normal, matColor, lightPos2, lightPower);
	     l += matColor * ambientFactor;
	 }
	 return l;
     }

     const float DISPLAY_GAMMA_COEFF = 1. / 2.2;
     vec3 gammaCorrect(vec3 rgb) {
	 return vec3((min(pow(rgb.r, DISPLAY_GAMMA_COEFF), 1.)),
		     (min(pow(rgb.g, DISPLAY_GAMMA_COEFF), 1.)),
		     (min(pow(rgb.b, DISPLAY_GAMMA_COEFF), 1.)));
     }

     const float SAMPLE_NUM = 1.;
     void main(){
	 /* vec4 sum = vec4(0);
	    for(float i = 0. ; i < SAMPLE_NUM ; i++){
	  *     vec2 coordOffset = rand2n(gl_FragCoord.xy, i);
	  *     vec3 ray = calcRay(eye, target, up, fov,
    	    iResolution.x, iResolution.y,
            gl_FragCoord.xy + coordOffset);
	  *     
	  *     sum += vec4(gammaCorrect(calcColor(eye, ray)), 1.);
	    }
	    gl_FragColor = vec4(sum/SAMPLE_NUM);*/
	 const vec2 coordOffset = vec2(0.5);
	 vec3 ray = calcRay(eye, target, up, fov,
			    iResolution.x, iResolution.y,
			    gl_FragCoord.xy + coordOffset);

	 gl_FragColor = vec4(gammaCorrect(calcColor(eye, ray)), 1.);
     }
    </script>
</head>
<body>
    <nav class="navbar">
	<div class="container">
            <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand">SchottkyLink</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		    <li class="active"><a href="../index.html">Home</a></li>
		</ul>
            </div>
	</div>
    </nav>

    <div class="container">
	<div class="row">
	    <div class="col-sm-5 col-md-3 sidebar-offcanvas">
		<div class="well">
		    <ul class="nav">
			<li><a href="../2d/index.html" data-cw="512" data-ch="512">
			    2 Dimensional </a></li>
			<li><a href="index.html" data-cw="512" data-ch="512">
			    3 Dimensional </a></li>
		    </ul>
		</div>
            </div>
	    <div class="col-sm-7 col-md-9">
	      <div id="content">
		<div class="canvas-area">
		  <h1>Schottky Link</h1>
		  <canvas id="canvas" width="256" height="256"></canvas>
		  <canvas id="orbitCanvas" width="256" height="256"></canvas>
		  <br>
		</div>
	      </div>
	    </div>
	</div>
    </div>

</body>
</html>
