{
    "presets": [
        "es2015",
        "babel-preset-power-assert"
    ],
    "env": {
        "production": {
            "plugins": [
                "babel-plugin-unassert"
            ]
        },
        "development": {
            "plugins": [
                "jsdoc-to-assert"
            ]
        }
    }
}
