{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
    },
    "rules": {
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "no-mixed-operators": [
            "error",
            {
                "groups": [
                    ["+", "-", "%", "**"],
                    ["&", "|", "^", "~", "<<", ">>", ">>>"],
                    ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                    ["&&", "||"],
                    ["in", "instanceof"]
                ],
                "allowSamePrecedence": true
            }
        ],
    },
    "settings": {
        "import/resolver": {
            "webpack": {
            }
        }
    }
}
