{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
    },
    "rules": {
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "no-mixed-operators": [
            "error",
            {
                "groups": [
                    ["+", "-", "%", "**"],
                    ["&", "|", "^", "~", "<<", ">>", ">>>"],
                    ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                    ["&&", "||"],
                    ["in", "instanceof"]
                ],
                "allowSamePrecedence": true,
            }
        ],
        "no-multi-spaces": [2, {"exceptions": {"Property": true,
                                               "ImportDeclaration": true,
                                               "VariableDeclarator": true,
                                               "AssignmentExpression": true}}],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    },
    "settings": {
        "import/resolver": {
            "webpack": {
            }
        }
    }
}
