{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
    },
    "rules": {
        "indent": ["error", 4, { "ArrayExpression": "first",
                                 "ObjectExpression": "first"}],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "no-mixed-operators": [
            "error",
            {
                "groups": [
                    ["+", "-", "%", "**"],
                    ["&", "|", "^", "~", "<<", ">>", ">>>"],
                    ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                    ["&&", "||"],
                    ["in", "instanceof"]
                ],
                "allowSamePrecedence": true,
            }
        ],
        "no-multi-spaces": ["error", {"exceptions": {"Property": true,
                                                     "ImportDeclaration": true,
                                                     "VariableDeclarator": true,
                                                     "AssignmentExpression": true}}],
        "no-plusplus": ["off", { "allowForLoopAfterthoughts": true }],
        "class-methods-use-this": ["warn"],
        "no-restricted-syntax": ["off"],
    },
    "settings": {
        "import/resolver": {
            "webpack": {
            }
        }
    }
}
