{
    "root": true,
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "semi-spacing": ["error", {"after": true, "before": false}],
        "semi-style": ["error", "last"],
        "no-extra-semi": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error"
    },
    "env": {
        "es2024": true,
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}