<!DOCTYPE html>
<html>
    <head>
        <title>SchottkyLink</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="../lib/keen-ui.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../img/favicon.ico">
        <script type="text/javascript" src="../lib/vue.min.js"></script>
        <script type="text/javascript" src="../lib/keen-ui.min.js"></script>
        <script type="text/javascript" src="../lib/nunjucks.min.js"></script>
        <script type="text/javascript" src="scripts/util.js"></script>
        <script type="text/javascript" src="scripts/bfs.js"></script>
        <script type="text/javascript" src="scripts/geometry.js"></script>
        <script type="text/javascript" src="scripts/presetParameter.js"></script>
        <script type="text/javascript" src="scripts/main.js"></script>
        <script id="render-vert" type="x-shader/x-vertex">
         attribute vec3 a_vertex;
         varying vec2 v_texCoord;
         void main(void){
             v_texCoord = a_vertex.xy * 0.5 + 0.5;
             gl_Position = vec4(a_vertex, 1.0);
         }
        </script>
        <script id="render-frag" type="x-shader/x-vertex">
         precision mediump float;
         varying vec2 v_texCoord;
         uniform sampler2D u_texture;

         void main(void){
             gl_FragColor = texture2D(u_texture, v_texCoord);
         }
        </script>
        <script id="vs" type="x-shader/x-vertex">
         attribute vec2 a_vertex;

         void main(void){
	     gl_Position = vec4(a_vertex, 0., 1.0);
         }
        </script>
        <script id="kissingSchottkyTemplate" type="x-shader/x-fragment">
         precision mediump float;
         uniform sampler2D u_accTexture;
         uniform int u_numSamples;
         uniform float u_textureWeight;
         uniform float u_iGlobalTime;
         uniform vec2  u_iResolution;
         uniform vec2 u_translate;
         uniform float u_scale;
         uniform int u_iterations;
         uniform float u_initialHue;
         uniform float u_hueStep;

         uniform int u_selectedObjectId;
         uniform int u_selectedObjectIndex;
         uniform int u_selectedObjectComponentId;

	 uniform bool u_displayGenerators;
	 
         {% for n  in range(0,  numCircles ) %}
         // [x, y, r, r * r]
         uniform vec3 u_schottkyCircle{{ n }};
         // [centerRadius, circumferenceThickness];
         uniform vec2 u_schottkyCircleUIParam{{ n }};
         {% endfor %}

         {% for n  in range(0,  numInfiniteCircles ) %}
         // [x, y, degree]
         uniform vec3 u_infiniteCircle{{ n }};
         // [controlPointRadius, rotationControlCircleRadius, rotationControlCircleThickness]
         uniform vec3 u_infiniteCircleUIParam{{ n }};
         uniform mat2 u_infiniteCircleRotationMat2{{ n }};
         uniform mat2 u_invInfiniteCircleRotationMat2{{ n }};
         {% endfor %}

         const int ID_CIRCLE = 0;
         const int ID_INFINITE_CIRCLE = 1;
         
         {% for n in range(0, numTransformByCircles) %}
         //[innerCircle, outerCircle, invertedCircle]
         uniform vec3 u_transformByCircles{{ n }}[3];
         {% endfor %}

         {% for n in range(0, numTwistedLoxodromic) %}
         // [innerCircle, outerCircle, invertedCircle, c3, p]
         uniform vec3 u_twistedLoxodromic{{ n }}[5];
         uniform mat2 u_twistedLoxodromicRotationMat2{{ n }};
         uniform mat2 u_invTwistedLoxodromicRotationMat2{{ n }};
         // [controlPointRadius, lineThickness]
         uniform vec2 u_twistedLoxodromicUIParam{{ n }};
         {% endfor %}

         {% for n in range(0, numTwistedLoxodromicFromFixedPoints) %}
         // [innerCircle, outerCircle, invertedCircle, c3, p, q1, q2, fp1, fp2]
         uniform vec3 u_twistedLoxodromicFromFixedPoints{{ n }}[9];
         uniform mat2 u_twistedLoxodromicFromFixedPointsRotationMat2{{ n }};
         uniform mat2 u_invTwistedLoxodromicFromFixedPointsRotationMat2{{ n }};
         // [controlPointRadius, lineThickness]
         uniform vec2 u_twistedLoxodromicFromFixedPointsUIParam{{ n }};
         {% endfor %}

         const vec3 BLACK = vec3(0);
         const vec3 WHITE = vec3(1);
         const vec3 LIGHT_GRAY = vec3(0.78);
         const vec3 RED = vec3(1, 0, 0);
         const vec3 GREEN = vec3(0, .78, 0);
         const vec3 BLUE = vec3(0, 0, 1);
         const vec3 YELLOW = vec3(1, 1, 0);
         const vec3 PINK = vec3(.78, 0, .78);
         const vec3 LIGHT_BLUE = vec3(0, 1, 1);
         
         // from Syntopia http://blog.hvidtfeldts.net/index.php/2015/01/path-tracing-3d-fractals/
         vec2 rand2n(vec2 co, float sampleIndex) {
	     vec2 seed = co * (sampleIndex + 1.0);
	     seed+=vec2(-1,1);
	     // implementation based on: lumina.sourceforge.net/Tutorials/Noise.html
	     return vec2(fract(sin(dot(seed.xy ,vec2(12.9898,78.233))) * 43758.5453),
                         fract(cos(dot(seed.xy ,vec2(4.898,7.23))) * 23421.631));
         }
         
         vec2 circleInvert(const vec2 pos, const vec2 circlePos, const float circleR){
	     return ((pos - circlePos) * circleR * circleR)/(distance(pos, circlePos) * distance(pos, circlePos) ) + circlePos;
         }

         const int MAX_ITERATIONS = 100;
         float IIS(vec2 pos){
	     float loopNum = 0.;
	     bool cont = false;
	     for(int i = 0 ; i < MAX_ITERATIONS ; i++){
	         if(i >= u_iterations) break;
	         cont = false;
	         {% if numCircles > 2 %}
	         {% for n  in range(0,  numCircles ) %}
	         {% if n == 0 %}
	         if(distance(pos, u_schottkyCircle0.xy) < u_schottkyCircle0.z){
		     pos = circleInvert(pos, u_schottkyCircle0.xy, u_schottkyCircle0.z);
		     cont = true;
		     loopNum++;
	         }
	         {% else %}
	         else if(distance(pos, u_schottkyCircle{{ n }}.xy) < u_schottkyCircle{{ n }}.z){
		     pos = circleInvert(pos, u_schottkyCircle{{ n }}.xy, u_schottkyCircle{{ n }}.z);
		     cont = true;
		     loopNum++;
	         }
	         {% endif %}
	         {% endfor %}
	         {% elif numCircles == 2 %}
	         if(distance(pos, u_schottkyCircle0.xy) < u_schottkyCircle0.z){
		     pos = circleInvert(pos, u_schottkyCircle0.xy, u_schottkyCircle0.z);
		     cont = true;
		     loopNum++;
	         }else if(distance(pos, u_schottkyCircle1.xy) < u_schottkyCircle1.z){
		     pos = circleInvert(pos, u_schottkyCircle1.xy, u_schottkyCircle1.z);
		     cont = true;
		     loopNum++;
	         }
	         {% elif numCircles == 1 %}
	         if(distance(pos, u_schottkyCircle0.xy) < u_schottkyCircle0.z){
		     pos = circleInvert(pos, u_schottkyCircle0.xy, u_schottkyCircle0.z);
		     cont = true;
		     loopNum++;
	         }
	         {% endif %}

	         {% for n in range(0,  numInfiniteCircles ) %}
	         pos -= u_infiniteCircle{{ n }}.xy;
	         pos = u_invInfiniteCircleRotationMat2{{ n }} * pos;
	         if(pos.x > 0.){
		     pos.x *= -1.;
		     cont = true;
		     loopNum++;
	         }
	         pos = u_infiniteCircleRotationMat2{{ n }} * pos;
	         pos += u_infiniteCircle{{ n }}.xy;
	         {% endfor %}

	         {% for n in range(0, numTransformByCircles) %}

	         if(distance(pos, u_transformByCircles{{ n }}[0].xy) < u_transformByCircles{{ n }}[0].z){
		     pos = circleInvert(pos, u_transformByCircles{{ n }}[0].xy, u_transformByCircles{{ n }}[0].z);
		     pos = circleInvert(pos, u_transformByCircles{{ n }}[1].xy, u_transformByCircles{{ n }}[1].z);
		     
		     cont = true;
                     //		 loopNum++;
	         }else if(distance(pos, u_transformByCircles{{ n }}[2].xy) >= u_transformByCircles{{ n }}[2].z){
		     pos = circleInvert(pos, u_transformByCircles{{ n }}[1].xy, u_transformByCircles{{ n }}[1].z);
		     pos = circleInvert(pos, u_transformByCircles{{ n }}[0].xy, u_transformByCircles{{ n }}[0].z);

		     cont = true;
                     //		 loopNum++;
	         }
	         
	         {% endfor %}

                 {% for n in range(0, numTwistedLoxodromic) %}
                 if(distance(pos, u_twistedLoxodromic{{ n }}[0].xy) < u_twistedLoxodromic{{ n }}[0].z){                 
                     pos -= u_twistedLoxodromic{{ n }}[0].xy;
	             pos = u_invTwistedLoxodromicRotationMat2{{ n }} * pos;
		     pos.x *= -1.;
	             pos = u_twistedLoxodromicRotationMat2{{ n }} * pos;
                     pos += u_twistedLoxodromic{{ n }}[0].xy;

                     
                     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[3].xy, u_twistedLoxodromic{{ n }}[3].z);
                     



                     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[0].xy, u_twistedLoxodromic{{ n }}[0].z);
                     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[1].xy, u_twistedLoxodromic{{ n }}[1].z);
                     
		     cont = true;
                     //		 loopNum++;
	         }else if(distance(pos, u_twistedLoxodromic{{ n }}[2].xy) >= u_twistedLoxodromic{{ n }}[2].z){
		     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[1].xy, u_twistedLoxodromic{{ n }}[1].z);
		     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[0].xy, u_twistedLoxodromic{{ n }}[0].z);

                     pos = circleInvert(pos, u_twistedLoxodromic{{ n }}[3].xy, u_twistedLoxodromic{{ n }}[3].z);

                     pos -= u_twistedLoxodromic{{ n }}[0].xy;
	             pos = u_invTwistedLoxodromicRotationMat2{{ n }} * pos;
		     pos.x *= -1.;
	             pos = u_twistedLoxodromicRotationMat2{{ n }} * pos;
                     pos += u_twistedLoxodromic{{ n }}[0].xy;

                     
		     cont = true;
                     //		 loopNum++;
	         }
                 
                 {% endfor %}

                 {% for n in range(0, numTwistedLoxodromicFromFixedPoints) %}
                 if(distance(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy) < u_twistedLoxodromicFromFixedPoints{{ n }}[0].z){                 
                     pos -= u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy;
	             pos = u_invTwistedLoxodromicFromFixedPointsRotationMat2{{ n }} * pos;
		     pos.x *= -1.;
	             pos = u_twistedLoxodromicFromFixedPointsRotationMat2{{ n }} * pos;
                     pos += u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy;

                     
                     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[3].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[3].z);
                     



                     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[0].z);
                     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[1].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[1].z);
                     
		     cont = true;
                     //		 loopNum++;
	         }else if(distance(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[2].xy) >= u_twistedLoxodromicFromFixedPoints{{ n }}[2].z){
		     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[1].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[1].z);
		     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[0].z);

                     pos = circleInvert(pos, u_twistedLoxodromicFromFixedPoints{{ n }}[3].xy, u_twistedLoxodromicFromFixedPoints{{ n }}[3].z);

                     pos -= u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy;
	             pos = u_invTwistedLoxodromicFromFixedPointsRotationMat2{{ n }} * pos;
		     pos.x *= -1.;
	             pos = u_twistedLoxodromicFromFixedPointsRotationMat2{{ n }} * pos;
                     pos += u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy;

                     
		     cont = true;
                     //		 loopNum++;
	         }
                 
                 {% endfor %}
	         
	         if(cont == false) break;
	     }
	     return loopNum;
         }
         vec3 hsv2rgb(vec3 c){
	     vec4 K = vec4(1.0, 2.0 / 3.0, 1.0 / 3.0, 3.0);
	     vec3 p = abs(fract(c.xxx + K.xyz) * 6.0 - K.www);
	     return c.z * mix(K.xxx, clamp(p - K.xxx, 0.0, 1.0), c.y);
         }

         vec3 renderUI(const vec2 position){
             {% for n in range(0, numCircles) %}
             if(u_selectedObjectId == ID_CIRCLE){
                 if(u_selectedObjectIndex == {{n}}){
                     float dist = distance(position, u_schottkyCircle{{ n }}.xy);
		     if(dist - u_schottkyCircle{{ n }}.z < 0. &&
                        dist > u_schottkyCircle{{ n }}.z - u_schottkyCircleUIParam{{ n }}.y ){
		         return WHITE;
		     }
	         }
             }
             {% endfor %}
             
	     {% for n in range(0, numTransformByCircles) %}
	     if(distance(position, u_transformByCircles{{ n }}[0].xy) < u_transformByCircles{{ n }}[0].z){
	         return vec3(.5, 0, 0);
	     }else if(distance(position, u_transformByCircles{{ n }}[1].xy) < u_transformByCircles{{ n }}[1].z){
	         return vec3(0, .5, 0);
	     }else if(distance(position, u_transformByCircles{{ n }}[2].xy) < u_transformByCircles{{ n }}[2].z){
	         return vec3(0, 0, .5);
	     }	     
	     {% endfor %}

             vec3 col = vec3(0.);

             {% for n in range(0, numTwistedLoxodromic) %}

             // line
             vec2 v2{{ n }} = position - u_twistedLoxodromic{{ n }}[0].xy;
             vec2 v1{{ n }} = normalize(u_twistedLoxodromic{{ n }}[1].xy - u_twistedLoxodromic{{ n }}[0].xy);
             vec2 projection{{ n }} = v1{{ n }} * dot(v1{{ n }}, v2{{ n }});
             vec2 n{{ n }} = v2{{ n }} - projection{{ n }};
             float d{{ n }} = length(n{{ n }});
             if(d{{ n }} < u_twistedLoxodromicUIParam{{ n }}.y){
                 return vec3(1);
             }

             if(distance(position, u_twistedLoxodromic{{ n }}[3].xy) < u_twistedLoxodromic{{ n }}[3].z){
	         col = vec3(0.5, .5, 0);
	     }

             // control point
             if(distance(position, u_twistedLoxodromic{{ n }}[4].xy) < u_twistedLoxodromicUIParam{{ n }}.x){
	         return LIGHT_BLUE;
             }

	     if(distance(position, u_twistedLoxodromic{{ n }}[0].xy) < u_twistedLoxodromic{{ n }}[0].z){
                 // inner circle
	         return mix(RED, col, 0.5);
	     }else if(distance(position, u_twistedLoxodromic{{ n }}[1].xy) < u_twistedLoxodromic{{ n }}[1].z){
                 // outer circle
	         return mix(GREEN, col, 0.5);
	     }else if(distance(position, u_twistedLoxodromic{{ n }}[2].xy) < u_twistedLoxodromic{{ n }}[2].z){
                 // inverted circle
	         return mix(BLUE, col, 0.5);
	     }else if(col != vec3(0.)){
                 return col;
             }
	     {% endfor %}

             {% for n in range(0, numTwistedLoxodromicFromFixedPoints) %}

             // control point
             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[4].xy) < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.x){
	         return LIGHT_BLUE;
             }
             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[5].xy) < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.x){
	         return PINK;
             }
             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[6].xy) < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.x){
	         return PINK;
             }
             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[7].xy) < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.x){
	         return RED;
             }
             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[8].xy) < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.x){
	         return RED;
             }
             
             // line
             vec2 v2{{ n }} = position - u_twistedLoxodromicFromFixedPoints{{ n }}[7].xy;
             vec2 v1{{ n }} = normalize(u_twistedLoxodromicFromFixedPoints{{ n }}[8].xy - u_twistedLoxodromicFromFixedPoints{{ n }}[7].xy);
             vec2 projection{{ n }} = v1{{ n }} * dot(v1{{ n }}, v2{{ n }});
             vec2 n{{ n }} = v2{{ n }} - projection{{ n }};
             float d{{ n }} = length(n{{ n }});
             if(d{{ n }} < u_twistedLoxodromicFromFixedPointsUIParam{{ n }}.y){
                 return vec3(1);
             }

             if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[3].xy) < u_twistedLoxodromicFromFixedPoints{{ n }}[3].z){
	         col = vec3(0.5, .5, 0);
	     }

	     if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[0].xy) < u_twistedLoxodromicFromFixedPoints{{ n }}[0].z){
                 // inner circle
	         return mix(RED, col, 0.5);
	     }else if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[1].xy) < u_twistedLoxodromicFromFixedPoints{{ n }}[1].z){
                 // outer circle
	         return mix(GREEN, col, 0.5);
	     }else if(distance(position, u_twistedLoxodromicFromFixedPoints{{ n }}[2].xy) < u_twistedLoxodromicFromFixedPoints{{ n }}[2].z){
                 // inverted circle
	         return mix(BLUE, col, 0.5);
	     }else if(col != vec3(0.)){
                 return col;
             }
	     {% endfor %}
             
	     {% if numInfiniteCircles > 0 %}
	     if(u_selectedObjectId == ID_INFINITE_CIRCLE){
	         {% for n in range(0,  numInfiniteCircles ) %}
	         if(u_selectedObjectIndex == {{n}}){
		     if(distance(position, u_infiniteCircle{{ n }}.xy) < u_infiniteCircleUIParam{{ n }}.x){
		         return WHITE;
		     }
		     vec2 cp = vec2(u_infiniteCircleUIParam{{ n }}.y, 0);
		     vec2 pos = (position - (u_infiniteCircle{{ n }}.xy - u_infiniteCircleRotationMat2{{ n }} * cp));
		     if(length(pos) < u_infiniteCircleUIParam{{ n }}.x){
		         if(u_selectedObjectComponentId == 2){
			     return vec3(1, 0, 1);
		         }else{
			     return vec3(0, 1, 1);
		         }
		     }else if(abs(u_infiniteCircleUIParam{{ n }}.y - distance(position, u_infiniteCircle{{ n }}.xy)) <
		         u_infiniteCircleUIParam{{ n }}.z){
		         return WHITE;
		     }
	         }
	         {% endfor %}
	     }
	     
	     {% endif %}
	     return BLACK;
         }

         const float MAX_SAMPLE = 10.;
         void main(){
	     vec3 sum = vec3(0);
	     float ratio = u_iResolution.x / u_iResolution.y / 2.0;
	     for(float i = 0. ; i < MAX_SAMPLE ; i++){
	         vec2 position = ((gl_FragCoord.xy + rand2n(gl_FragCoord.xy, i)) / u_iResolution.yy ) - vec2(ratio, 0.5);
	         position = position * u_scale;
	         position += u_translate;

	         vec3 col = BLACK;
		 if(u_displayGenerators)
		     col = renderUI(position);
	         float loopNum = IIS(position);
	         if(loopNum > 0.){
		     vec3 hsv = vec3(u_initialHue + u_hueStep * loopNum, 1.0, 1.0);
                     if(!all(equal(col, BLACK))){
                         sum += mix(hsv2rgb(hsv), col, 0.5);
                     }else{
                         sum += hsv2rgb(hsv);
                     }
	         }else{
                     sum += col;
                 }
	     }
             vec3 texCol = texture2D(u_accTexture, gl_FragCoord.xy / u_iResolution).rgb;
             gl_FragColor = vec4(mix(sum/MAX_SAMPLE, texCol, u_textureWeight),
                                 1.0);
         }
        </script>
    </head>
    <body id="bodyElem">
        <header class="header">
            <ul class="headerLeft">
                <li class="myBtn"><a class="btnLink" href="../index.html">SchottkyLink</a></li>
                <li class="myBtn"><a class="btnLink" href="index.html">2D</a></li>
                <li class="myBtn"><a class="btnLink" href="../3d/index.html">3D</a></li>
            </ul>
            <ul class="headerRight">
                <li class="headerButton"><ui-button text="Usage" type="flat" raised color="primary" @click="switchInstructionModal"></ui-button></li>
                <li class="headerButton"><ui-button type="flat" raised color="primary" text="Save Scene" @click="saveScene"></ui-button></li>
                <li class="headerButton"><ui-button type="flat" raised color="primary" text="Load Scene" @click="loadScene"></ui-button></li>
                <li class="headerButton"><ui-button type="flat" raised color="primary" text="Load Preset"
                                                    open-dropdown-on="hover" :menu-options="presetList"
                                                    @menu-option-selected="presetSelected" has-dropdown-menu></ui-button></li>
            </ul>
        </header>
        <ui-modal :show.sync="renderCanvas.isDisplayingInstruction">
            <div slot="header" class="ui-modal-header-text">
                Usage
            </div>
            <ul>
                <li>Left Click: Select a generator</li>
	        <li>Right Click: Move on screen</li>
	        <li>Wheel Click: Add a Circle</li>
	        <li>Wheel: Zoom</li>
	        <li>Double Left Click: Remove a generator</li>
	        <li>+ / - : Increase / Decrease maximum iterations</li>
            </ul>
        </ui-modal>
        <div class="content">
            <div class="renderPanel">
                <div class="renderCanvasPanel" id="panel1">
                    <div id="canvasParent1" class="canvasParent">
                        <canvas class="renderCanvas" id="canvas"></canvas>
                    </div>
                    <div class="renderPropertyPanel">
                        <ui-button text="save" raised @click="saveImage">
                        </ui-button>
		        <div class="switchColumn">
			    <span>DisplayGen</span>
			    <ui-switch hide-label :value.sync="renderCanvas.displayGenerators" @change="render"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="propertyPanel">
                <ui-tabs fullwidth>
                    <ui-tab header="Generator" id="tab-1">
                        <div class="imgBtn" @click="addCircle">
                            <div class="row">
                                <img src="../img/circle.png" width="128px" height="128px" />
                            </div>
                            <div class="row">
                                Circle
                            </div>
                        </div>
                        <div class="imgBtn" @click="addInfiniteCircle">
                            <div class="row">
                                <img src="../img/infiniteCircle.png" width="128px" height="128px" />
                            </div>
                            <div class="row">
                                Infinite Circle
                            </div>
                        </div>
                        <div class="imgBtn" @click="addTransformByCircles">
                            <div class="row">
                                <img src="../img/compositionParabolic.png" width="128px" height="128px" />
                            </div>
                            <div class="row">
                                Composition (Parabolic)
                            </div>
                        </div>
                        <div class="imgBtn" @click="addLoxodromic">
                            <div class="row">
                                <img src="../img/compositionLoxodromic.png" width="128px" height="128px" />
                            </div>
                            <div class="row">
                                Loxodromic
                            </div>
                        </div>
                        <div class="imgBtn" @click="addLoxodromicFromFixedPoints">
                            <div class="row">
                                <img src="../img/loxoFromFixedPoints.png" width="128px" height="128px" />
                            </div>
                            <div class="row">
                                Loxodromic (Fixed Points)
                            </div>
                        </div>
                    </ui-tab>
                    <ui-tab header="Scene" id="tab-2">
                        <div class="row">
                            Pixel Density
                        </div>
                        <ui-select name="Pixel Density" :default="pixelDensitiesDefault"
                                   @selected="pixelDensitySelected" :options="pixelDensities">
                            
                        </ui-select>
			<div class="row">
			    Max iterations
                        </div>
                        <ui-textbox name="iterations" type="number" :value.sync="renderCanvas.iterations"
			:min="minIterations" @changed="render">
                            
                        </ui-textbox>
			<div class="row">
			    Initial Hue
                        </div>
			<ui-textbox type="number" :value.sync="renderCanvas.initialHue"
				    :min="hueMin"
				    :step="initialHueStep"
				    @changed="render"></ui-textbox>
			<div class="row">
			    Hue Step
                        </div>
			<ui-textbox type="number" :value.sync="renderCanvas.hueStep"
				    :min="hueMin"
				    :step="hueStep"
				    @changed="render"></ui-textbox>
                    </ui-tab>
                </ui-tabs>
            </div>
        </div>
        <footer class="footer">
            <a id="ghLink" href="https://github.com/soma-arc/SchottkyLink"
               target="_blank">
                <img src="../img/GitHub-Mark-32px.png" class="imgLink"/>
            </a>
            <div>
                Created by soma_arc
            </div>
        </footer>
    </body>
</html>
